
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<!-- our-team -->
<div class="team">
    <div class="center wow fadeInDown">
        <h2>About us</h2>
        <p class="lead">We are undergraduates of Department of Computer Science and Engineering, University of Moratuwa.</p>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 col-sm-6">
            <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="media">
                    <div class="pull-left">
                        <a href="#"><img class="media-object" src="~/Content/img/blog/prasad.jpg" width="100px" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>Prasad Maduranga</h4>
                        <h5>prasad.12@cse.mrt.ac.lk </h5>
                        <ul class="tag clearfix">
                            <li class="btn"><a href="#">Web</a></li>
                            <li class="btn"><a href="#">Ui</a></li>
                            <li class="btn"><a href="#">Ux</a></li>
                        </ul>

                        <ul class="social_icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.media -->
                <br />Passionate designer
                <br />Curious developer
                <br /> geek   
            </div>
        </div><!--/.col-lg-4 -->


        <div class="col-md-4 col-sm-6 col-md-offset-2">
            <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="media">
                    <div class="pull-left">
                        <a href="#"><img class="media-object" src="~/Content/img/blog/dilshan.jpg" width="100px" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>Dishan Kanchana</h4>
                        <h5>kanchana.12@cse.mrt.ac.lk </h5>
                        <ul class="tag clearfix">
                            <li class="btn"><a href="#">Web</a></li>
                            <li class="btn"><a href="#">Ui</a></li>
                            <li class="btn"><a href="#">Ux</a></li>
                        </ul>
                        <ul class="social_icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.media -->
                <br />Passionate designer
                <br />Curious developer
                <br /> geek    
            </div>
        </div><!--/.col-lg-4 -->
    </div> <!--/.row -->
    <div class="row team-bar">
        <div class="first-one-arrow hidden-xs">
            <hr>
        </div>
        <div class="first-arrow hidden-xs">
            <hr> <i class="fa fa-angle-up"></i>
        </div>
        <div class="second-arrow hidden-xs">
            <hr> <i class="fa fa-angle-down"></i>
        </div>
        <div class="third-arrow hidden-xs">
            <hr> <i class="fa fa-angle-up"></i>
        </div>
        <div class="fourth-arrow hidden-xs">
            <hr> <i class="fa fa-angle-down"></i>
        </div>
    </div> <!--skill_border-->
    <div class="row clearfix">
        <div class="col-md-4 col-sm-6 col-md-offset-2">
            <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="media">
                    <div class="pull-left">
                        <a href="#"><img class="media-object" src="~/Content/img/blog/lahiru.jpg" width="100px" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>Lahiru Madushanka</h4>
                        <h5>Madushankagdlmadushanka@gmail.com</h5>
                        <ul class="tag clearfix">
                            <li class="btn"><a href="#">Web</a></li>
                            <li class="btn"><a href="#">Ui</a></li>
                            <li class="btn"><a href="#">Ux</a></li>
                        </ul>
                        <ul class="social_icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.media -->
                <br />Passionate designer
                <br />Curious developer
                <br /> geek
             </div>
        </div>
        <div class="col-md-4 col-sm-6 col-md-offset-2">
            <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="media">
                    <div class="pull-left">
                        <a href="#"><img class="media-object" src="~/Content/img/blog/aba2.jpg" alt="" width="100px"></a>
                    </div>
                    <div class="media-body">
                        <h4>Dhanushka Madushan</h4>
                        <h5>udayanga.12@cse.mrt.ac.lk </h5>
                        <ul class="tag clearfix">
                            <li class="btn"><a href="#">Web</a></li>
                            <li class="btn"><a href="#">Ui</a></li>
                            <li class="btn"><a href="#">Ux</a></li>
                        </ul>
                        <ul class="social_icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.media -->
                <br />Passionate designer
                <br />Curious developer
                <br /> geek
            </div>
        </div>
    </div>	<!--/.row-->
</div><!--section-->